@model Animal_Control.Models.AC_Liberacion

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutTablas.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>
        <div>


            <h2> Error</h2>

            <h3> @ViewBag.error</h3>

            <h4>
                @ViewBag.mensage
            </h4>
        </div>
    </section>
</section>

