@model Animal_Control.Models.AC_Stock_Minimo

@{
    ViewBag.Title = "Eliminar Stock";
    Layout = "~/Views/Shared/_LayoutTablas.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div>
                <h3>Eliminar Stock Minimo</h3>
                <h5>Quieres borrar este registro?</h5>
                <hr />
                <table cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => Model.SMI_ID) </td>
                            <td>@Html.DisplayFor(modelItem => Model.Cantidad)  </td>
                        </tr>
                    </tbody>

                </table>
                <br>
                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar Stock Minimo" class="btn btn-default" />
                    <input type="submit" href="@Url.Action("Index", "StockMinimo")" value="Cancelar" class="btn btn-default" />
                </div>

            </div>
        }
    </section>
</section>
