@model Animal_Control.Models.AC_Medicamento

@{
    ViewBag.Title = "EliminarMedicamento";
    Layout = "~/Views/Shared/_LayoutTablas.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div>
                <h2>Eliminar Medicamento</h2>
                <h5>Quieres borrar este Medicamento?</h5>
                <hr />
                <table cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => Model.M_ID) </td>
                            <td>@Html.DisplayFor(modelItem => Model.Nombre)  </td>
                        </tr>

                    </tbody>
                </table>
                <br>
                <br>
                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar Medicamento" class="btn btn-default" />
                    <a href="@Url.Action("Index", "Medicamento")" class="btn btn-default"> Cancelar </a>
                </div>

            </div>
        }
    </section>
</section>
